@model Models.WebModel.VmInfobar
@*@{ Model.dateTimeNowTitle = Core.Utility.WebLang.GetLang(Core.Utility.WebLang.LangKind.Chinese, "todaysDate"); }*@
<div id="divPartial">
    <p></p>
    <div><span id="UserName">@Core.Views.Shared.Infobar.UserName</span><span>@Model.UserName</span><span>@Core.Views.Shared.Infobar.TodaysDate</span><span id="todaysDate">@Model.dateTimeNow</span></div>
</div>
<script>
    $(document).ready(function () {
        function RefreshPartial() {
            //this will wait 3 seconds and then fire the load partial function
            setTimeout(function () {
                loadPartialView();
                //recall this function so that it will continue to loop
                RefreshPartial();
            }, 1000);
        }
        //initialize the loop
        RefreshPartial();
    });

    function loadPartialView() {
        $.ajax({
            url: '@Url.Action("GetinfobarDateTime", "Home")',
            type: 'post',
            dataType: 'html',
            success: function (result) {
                $('#todaysDate').html(result);
            }
        });
    }
</script>